sourcecode/generator/__pycache__/bibtexParseEntries.cpython-310.pyc
sourcecode/model/__pycache__/bibEntry.cpython-310.pyc
sourcecode/model/__pycache__/bibEntryTypes.cpython-310.pyc
.idea
notes.txt
sourcecode/__pycache__/parseXml.cpython-312.pyc
sourcecode/__pycache__/parseXml.cpython-312.pyc
sourcecode/__pycache__/parseXml.cpython-312.pyc
sourcecode/__pycache__/parseXml.cpython-312.pyc
sourcecode/__pycache__/parseXml.cpython-312.pyc
sourcecode/__pycache__/parseXml.cpython-312.pyc
